.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
node_modules
out/
**/esbuild.js
dist/test/**

# Don't ignore sqlite3 module and its dependencies
!node_modules/sqlite3/**
!node_modules/bindings/**
!node_modules/file-uri-to-path/**
